@charset "UTF-8"

*
  margin 0
  padding 0
  box-sizing border-box
::-webkit-scrollbar
  display: none  


@import 'settings'

body
  font 100%/1.6 sans-serif
  color #444


h1,h2,h3,h4,h5,p
  margin 1em 0 .75em
.H1,h1,h2,h3,h4
  line-height 1.2
h1,h2
  color $header
  font-weight: 400
a
  color $link
p
  margin-bottom 1em

hr
  margin 1em 0
  height: 1px
  border: none
  border-top: 1px solid rgba(#777, .5)
#main hr
  margin: 3em


ul,ol
  &.textLi
    //list-style:square inside url("/images/blueball.gif");
    //list-style inside
    //margin 1em 2em
    //margin-right 0
    list-style-position inside


// img
//   display inline-block
//   max-width: 100%

figure
  img
    display block
figcaption
  text-align center
  //padding 1em
/*
<div class="Grid">
  <div class="Cell -3of12">3of12</div>
  <div class="Cell -9of12">9of12</div>
</div>
*/


.flex, .flex_sb, .flex_wr, .flex_col
  display flex
.flex_sb
  justify-content space-between
.flex_wr
  flex-wrap wrap
  //FIX
  justify-content center
.flex_col
  flex-direction column



//i, b
i
  font inherit
i.tag
  &:before
    content '[ '
  &:after
    content ' ] '
  &:before
  &:after
    color $blue

.card_List
  >*
    margin 1em
    padding 1em
    box-shadow 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)

nav
  &.card
    margin 1em
    display inline-block
    box-shadow 0 .2em 1.4em 0 rgba(0, 0, 0, 0.2)
    a
      display block
      text-decoration none
      padding .7em 1em
      border-top 1px solid #EFEFEF


.w33
  >*
    width 33%
.w50
  >*
    width 50%




//@import 'mixin'
//@import 'tipograf'
//@import 'el'
//@import 'form'
@import 'form'
@import 'action'