// http://www.palettable.io/ff8383-82c8a0-ffa07a-9DAFC5


$border = #607d8b
$header = #3c4858
$link = #477dca


$red = #ff8383
$green = #82c8a0
$blue = #86adbf
$orange = #ffa07a


$bg_body = #f1f1f1


textOW()
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;